@import 'variables'

// Slick Styling
#home, .slider-widget-inner
  .hero-slider
    height: 100%
    width: 100%
  .slick-list, .slick-track
    height: 100%
    .hero-slide
      +bg(cover, center)
      display: flex 
      align-items: stretch
      justify-content: flex-start
      @media #{$large}
        padding-top: 25rem
      .hero-content-wrapper
        margin-left: 10rem
        padding: 6rem 2rem 8rem
        width: 27%
        position: relative
        @media #{$xxlarge}
          padding: 6rem 0 8rem
          width: 35%
        @media #{$xlarge}
          width: 40%
        @media #{$large}
          padding: 0
          margin: 0
          width: 100%
          justify-self: flex-end
        .hero-content 
          position: relative
          z-index: 999
          padding: 10rem 2rem 1rem 3rem
          @media #{$large}
            padding: 3rem 2rem 1rem 3rem
          @media #{$medium}
            padding: 2rem
          @media #{$small}
            padding: 1rem
          h1, p, a 
            color: #fff
          h1 
            margin-bottom: 2rem
            font-size: 2.8rem
            font-weight: 400
            @media #{$large}
              margin-bottom: 1rem
              font-size: 2rem
          p 
            padding-right: 2rem
            line-height: 2rem
            margin-bottom: 2rem
            font-size: 1.2rem
            @media #{$large}
              padding-right: 0
              margin-bottom: 1rem
              font-size: 1rem
              line-height: 1.5rem
          a 
            font-size: 1rem
            text-transform: uppercase
            letter-spacing: .25rem
            @media #{$large}
              font-size: .75rem
  .testimonial-slider
    margin: 0 auto
    width: 40%
    color: #fff 
    text-align: center
    @media #{$xlarge}
      width: 75%
    @media #{$medium}
      width: 95%
    button 
      display: none !important
    .slide-inner
      padding: 0
      p 
        font-size: 1.3rem
        color: #fff 
        font-weight: 500
        line-height: 2rem
        @media #{$small}
          font-size: 1rem
          font-weight: 400
    h3 
      margin-top: 3rem
      font-size: 1.3rem
      font-weight: 300

.slick-dots
  position: absolute
  z-index: 3
  +fb(center, center)
  bottom: 1rem
  left: 50%
  transform: translateX(-50%)
  width: auto
  list-style: none
  li
    +fb(center, center)
  button
    padding: 0.25rem
    margin: 0 1rem
    background-color: transparentize(white, 0.5)
    color: transparent
    border: none
    &:focus
      outline: none
  .slick-active
    button
      background-color: white
