@import 'variables'

// Slick Styling
#home
  .hero-slider
    height: 100%
    width: 100%
  .slick-list, .slick-track
    height: 100%
    .hero-slide
      +bg(cover, center)
      display: flex 
      align-items: stretch
      justify-content: flex-start
      .hero-content-wrapper
        margin-left: 10rem
        padding: 6rem 2rem
        width: 28%
        position: relative
        .hero-content 
          position: relative
          z-index: 999
          padding: 8rem 3rem 6rem
          h1, p, a 
            color: #fff
          h1 
            margin-bottom: 2rem
            font-size: 3rem
            font-weight: 400
          p 
            line-height: 2rem
            margin-bottom: 2rem
            font-size: 1.3rem
          a 
            font-size: 1rem
            text-transform: uppercase

.slick-dots
  position: absolute
  z-index: 3
  +fb(center, center)
  bottom: 1rem
  left: 50%
  transform: translateX(-50%)
  width: auto
  list-style: none
  li
    +fb(center, center)
  button
    padding: 0.25rem
    margin: 0 1rem
    background-color: transparentize(white, 0.5)
    color: transparent
    border: none
    &:focus
      outline: none
  .slick-active
    button
      background-color: white
